<meta charset="utf-8">

{% if page and page.meta.title %}
    <title>{{ page.meta.title }}</title>
{% else %}
    <title>{{ title }} {{ '-' if title }} Starter</title>
{% endif %}    

<!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
<![endif]-->

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link href="/static/bootstrap-2.3.2/bootstrap.min.css" rel="stylesheet">

<script>
    // for Datafly apps
    window.Datafly = {
        env: '{{ env }}'
    };
    // global project JS namespace
    window.PM = {        
        namespace: '{{ namespace }}' // current page body class        
    };
</script>

{# all other scripts in scripts.html - included before </body> #}