html,
body {
  height: 100%;
}
body.admin {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 50px;
}
body.admin > header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  height: 35px;
  background-color: #197DCE;
  color: #fff;
  border-bottom: 1px solid #000;
}
body.admin > header h1 {
  padding: 0px;
  margin: -3px 0px 0px 30px;
  font-size: 20px;
  font-weight: normal;
}
body.admin > header div.toolbar {
  position: absolute;
  left: 250px;
  width: 700px;
  top: 1px;
}
body.admin > header div.toolbar #redactor-toolbar {
  width: 486px;
}
body.admin > header div.toolbar #redactor-toolbar a.redactor_btn_html {
  position: absolute;
  right: 5px;
}
body.admin > header div.toolbar .pull-right {
  position: absolute;
  top: 1px;
  right: 0px;
}
body.admin > aside {
  position: fixed;
  top: 35px;
  left: 0px;
  width: 200px;
  padding-top: 30px;
  background-color: #ebebeb;
  min-height: 100%;
}
body.admin > aside .nav-header,
body.admin > aside .nav-list > li > a {
  padding-left: 30px;
}
body.admin > aside .nav-list > li > a {
  font-size: 13px;
}
body.admin > aside p.password {
  display: block;
  margin-top: -5px;
  margin-left: 14px;
  margin-bottom: 20px;
  color: #888;
  font-size: 12px;
}
body.admin > .content {
  padding-left: 250px;
  width: 700px;
}
body.login form {
  margin-top: 150px;
}
