<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>New project {{ '/' if title }} {{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- https://github.com/necolas/normalize.css -->
    <link href="/static/css/normalize.css?v2.1.0" rel="stylesheet">
    <link href="/static/production/site.css?{{ cache_timestamp }}" rel="stylesheet">

    {% if env == 'Development' %}
        <script src="/static/dev/jquery-1.9.1.js"></script>
        <script src="/static/dev/underscore-1.4.4.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    {% endif %}

    <script src="/static/production/site.js?{{ cache_timestamp }}"></script>
</head>


<body>

    <header>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block before_footer %}
    {% endblock %}

    <footer>
    </footer>

</body>
</html>