html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: helvetica, arial, freesans, clean, sans-serif;
    color: #333;
    background-color: #fff;
    border-color: #999999;
    border-width: 2px;
    line-height: 1.5;
    margin: 30px 0px;
    padding: 0 100px;
}

pre {
    background-color: #EDEDED;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

code {
    background-color: #EDEDED;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #004125;
    font-size: 15px;
}

pre code {
    padding-left: 0px;
    padding-right: 0px;
}

li p {
    margin: 0.3em;
}

ul > li {
    list-style-type: disc;
}

a {
    color: #C60000;
}

a:hover {
    color: #FF0030;
}

em {
    font-style: normal;
    font-weight: bold;
}

h1 {
    color: #999;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    border-bottom: 1px dotted #aaa;
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}