{% if env != 'Development' %}
    <script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
    <script>
        // Sentry
        var options = {};
        Raven.config('{{ config.SENTRY.JS }}', options).install();
    </script>
{% endif %}

{% if env != 'Development' and config.BUGHERD is string %}
    <script type='text/javascript'>
        (function (d, t) {
          var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
          bh.type = 'text/javascript';
          bh.src = '{{ config.BUGHERD }}';
          s.parentNode.insertBefore(bh, s);
          })(document, 'script');
    </script>
{% endif %}