backup
assets
venv
tags
_private

www/static/upload
www/config/myconfig.py
www/less/*.css
www/datafly/*/*.css
# uncomment for real project
# script/mydevops.yaml

*.py[co~]
*.swp
:2e.*
.DS.*
.DS_Store
._.*