<meta charset="utf-8">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
<![endif]-->

<link href="/static/bootstrap-2.3.2/bootstrap.min.css" rel="stylesheet">

{% if env != 'Development' %}
    <link href="/static/public.min.css?{{ cache_timestamp }}" rel="stylesheet">
{% else %}
    {% for path in assets.less.public %}
        <link href="/{{ path }}.less" rel="stylesheet/less">
    {% endfor %}
    <script src="/static/dev/less-1.3.3.min.js"></script>
{% endif %}

<script>
    // for Datafly apps
    window.Datafly = {
        env: '{{ env }}'
    };
    // global project JS namespace
    window.NewProject = {        
        namespace: '{{ namespace }}' // current page body class        
    };
</script>

{# all other scripts in scripts.html - included before </body> #}