{% set namespace = 'home' %}

{% import 'editor.html' as editor with context %}
{% extends layout %}

{% block content %}

<div data-clip="content">

<h2>Our practice</h2>
{{ lipsum(1, min=50) }}

<h2>Who we are</h2>

</div>

{% for person in range(1,5) %}

<div class="person">

    <div class="photo">
        {{ editor.img('person'+loop.index|string, 'http://placehold.it/200x200',
                      width="200", height="200") }}
    </div>

    {% call editor.html('person'+loop.index|string, class='desc') %}
        <h3>
            <strong>John Doe</strong>
            <small>Manager</small>
        </h3>
        {{ lipsum(1, min=40) }}
    {% endcall %}    

</div>

{% endfor %}

{% endblock %}