{% if env == 'Development' %}
    <script src="/static/dev/jquery-1.10.1.js"></script>
    <script src="/static/dev/underscore-1.4.4.js"></script>
{% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
{% endif %}

<script src="/static/bootstrap-2.3.2/bootstrap.min.js"></script>

{% if env != 'Development' %}
    <script src="/static/public.min.js?{{ cache_timestamp }}"></script>
{% else %}
    {% for path in assets.js.public %}
        <script src="/{{ path }}.js"></script>
    {% endfor %}    
{% endif %}