{% set namespace = 'home' %}
{% extends layout %}

{% block content %}

<div data-clip="content">

<h2>Our practice</h2>
{{ lipsum(1, min=50) }}

<h2>Who we are</h2>

</div>

{% for person in range(1,5) %}

<div class="person">

    <div class="photo">
        <img src="http://placehold.it/200x200" alt="Dennis the Peasant"
             data-clip="person{{ loop.index }}"
             data-fit-width="200" data-fit-height="200">
    </div>

    <div class="desc" data-clip="person{{ loop.index }}">
        <h3>
            <strong>Dennis the Peasant</strong>
            <small>Monty Python</small>
        </h3>
        <p>
        Shut up! Will you shut up?! …Are you suggesting that coconuts migrate? And
        this isn't my nose. This is a false one. You don't frighten us, English pig-
        dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at
        you, so-called Ah-thoor Keeng, you and all your silly English
        K-n-n-n-n-n-n-n-niggits! I dunno. Must be a king. Be quiet!
        </p>
    </div>

</div>

{% endfor %}

{% endblock %}