<!DOCTYPE html>
<html>
<head>
    {% include head %}
    {% if env != 'Development' or livereload %}
        <link href="/static/public.min.css?{{ config.CACHE_TIMESTAMP }}" rel="stylesheet">
    {% else %}
        {% for path in assets.less.public %}
            <link href="/{{ path }}.{{ 'less' if config.LESSJS else 'css' }}"
                  rel="stylesheet{{ '/less' if config.LESSJS}}">
        {% endfor %}
    {% endif %}
</head>

<body class="{{ namespace }}">

    <header class="wrapper">
        <h1> New project boilerplate </h1>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse">
                {% include 'public/nav.html' %}
            </div>
        </nav>        
    </header>

    <div class="content wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="wrapper">
        Built in <strong>DataFly</strong>.
    </footer>

    {% include scripts %}

    {% if env == 'Development' %}
        {% for path in assets.js.public %}
            <script src="/{{ path }}.js"></script>
        {% endfor %}
    {% else %}  
        <script src="/static/public.min.js?{{ config.CACHE_TIMESTAMP }}"></script>        
    {% endif %}

</body>
</html>