<meta charset="utf-8">
<title>{{title}} - Admin</title>

<link rel="shortcut icon" href="/favicon.ico">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% if env == 'Development' %}
    <script src="/static/dev/jquery-1.9.1.js"></script>
    <script src="/static/dev/underscore-1.4.4.js"></script>
{% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
{% endif %}

<!-- Twitter Bootstrap -->
<link href="/static/bootstrap-2.3.1/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap-2.3.1/bootstrap.min.js"></script>

{% if 'pages' in installed_apps %}
    <link rel="stylesheet" href="/static/redactor-8.2.6/redactor.css">
    <script src="/static/redactor-8.2.6/redactor.min.js"></script>
{% endif %}

<link href="/static/production/admin.css?{{ cache_timestamp }}" rel="stylesheet">
<link href="/static/production/editor.css?{{ cache_timestamp }}" rel="stylesheet">