<!DOCTYPE html>
<html>

<head>
    {% include "admin/head.html" %}
    <script src="/static/production/admin.js?{{ cache_timestamp }}"></script>
</head>

<body>

    <div id="alert"></div>

    <div class="df-admin-header">
        <div class="df-admin-wrapper">
            {% if admin %}
                {% include "admin_nav.html" %}
            {% endif %}
            <a href="/admin">
                <h1>Dashboard</h1>
            </a>
        </div>
    </div>
    <div class="df-admin-wrapper">
        <div class="df-admin-content {{ content_css_class }}">
            {% block content %} {% endblock %}
        </div>
    </div>

</body>